.container{
    display: flex;
    gap: 100px;
}
.imgContainer{
    flex:1;
    position:relative;
    /* height:calc(10000vh-200px); */
    height: 600px;
}
.img{
    object-fit: cover;
}
.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title{
    font-size: 64px;
}
.details{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}
.avatar{
    object-fit: cover;
    border-radius: 50%;
}
.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detailValue{
    font-weight: 500;
}
.content{
    font-size:20px;
}
